body {
    background-color: #434747;
}

h1 {
    color: #ffffff;
    font-family: 'Noto Serif', serif;
}

.TitleLogo1 {
    height: 40px;
}

.videoWrapper {
    position: relative;
    height: 0;
    z-index: -1;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    color: white;
}

.videoWrapper video {
    object-fit: cover;
    width: 100%;
    height: 900px;
}

.OverlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: 'Noto Serif', serif;
    -webkit-transition: left 0.1s;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1600px) {
    .OverlayText {
        transform: translate(-50%, 30%);
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1200px) {
    .OverlayText {
        transform: translate(-40%, 10%);
        left: 40%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1100px) {
    .ProductTitle p {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .OverlayText {
        left: 10%;
        transform: translate(-5%, 10%);
    }
}

@media screen and (max-width: 600px) {
    .OverlayText {
        left: 40%;
        transform: translate(-40%, 10%);
    }
}

.ImageCardOverlay {
    position: relative;
    display: block;
    text-align: center;
    color: white;
    z-index: 3;
    cursor: pointer;
    -webkit-user-select: none;
    left: -1%;
    top: -60%;
}

.ImageCardOverlay .CardOverlayText1 {
    font-size: 37px;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px black;
}

.ImageCardOverlay .CardOverlayText2 {
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px black;
}

.ImageCardLinkOverlay {
    position: relative;
    text-align: center;
    left: -1%;
    z-index: 4;
    cursor: pointer;
    -webkit-user-select: none;
}

.ImageCardLinkOverlay h6 {
    font-weight: bold;
    font-size: 20px;
    color: #c0c0c0;
    margin-top: 20px;
}

.ImageCardLinkOverlay h6:hover {
    color: #ffffff;
}

.ImageCardContainer {
    -webkit-transition: padding-left 0.2s;
}

.ImageCardContainer h1 {
    display: flex;
    margin-left: 40%;
    -webkit-transition: margin-left 0.2s;
    -webkit-transition: font-size 0.2s;
}

.ImageCardDiv {
    position: relative;
    padding-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
    max-width: 8.333333%;
}

@media (max-width: 2400px) {
    .ImageCardDiv {
        margin-left: 6%;
    }
}

@keyframes ImageCardLinkAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ImageCardLinkAnimationReverse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ImageCardRow {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 4px;
}

.ImageCardTextBlock {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 40px;
    align-items: flex-start;
    vertical-align: top;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
}

.ImageCardTitle {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.ImageCardContent {
    color: #c0c0c0;
}

#ImageInnerDiv {
    transition: transform 0.5s;
}

#helper {
    color: white;
    padding: 0.2em;
    border-radius: 5%;
    background-color: grey;
    position: absolute;
    z-index: 0;
}

.hidden {
    display: none;
}

#ImageCardLink:hover {
    text-decoration: none;
}

.ImageCardLinkContent {
    -webkit-transition: transform 0.2s;
    perspective: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ImageCardLink:hover .ImageCardTextBlock {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.12);
}

#ImageCardLink:hover .ImageCardLinkContent {
    -webkit-transform: rotateX(15deg);
    /* Safari prior 9.0 */
    transform: rotateX(15deg);
    /* Standard syntax */
}

.ImageCardColumn {
    flex: 30%;
    max-width: 55%;
    padding: 0 4px;
}

.ImageCardColumn .ImageCard {
    margin-top: -170px;
    width: 90%;
    z-index: -4;
    box-shadow: 2px 2px #111111;
    border-radius: 8px;
    -webkit-transition: transform 0.2s;
    -webkit-transition: width 0.2s;
}

.ImageCardColumn .ImageCardBackGround {
    margin-top: -90%;
    vertical-align: middle;
    width: 90%;
    z-index: -2;
    left: 0%;
    display: none;
    box-shadow: 2px 2px #111111;
    border-radius: 8px;
    -webkit-transition: transform 0.2s;
    -webkit-transition: width 0.2s;
    opacity: 0.5;
}

.ImageCardColumn .ImageCardOverlay {
    -webkit-transition: top 1s;
}

.ImageCardColumn:hover .ImageCardOverlay {
    top: -70%;
}

.ImageCardColumn .ImageCardLinkOverlay {
    opacity: 0;
    top: -80%;
    -webkit-transition: top 1s;
    -webkit-animation: ImageCardLinkAnimationReverse;
    -webkit-animation-duration: 1s
}

.ImageCardColumn:hover .ImageCardLinkOverlay {
    opacity: 1;
    top: -70%;
    -webkit-transition: top 1s;
    -webkit-animation: ImageCardLinkAnimation;
    -webkit-animation-duration: 1s
}

.ImageCardColumn:hover .ImageCard {
    transform: scale(1.01);
}

.ImageCardColumn:hover .ImageCardBackGround {
    display: block;
    transform: scale(1.01);
}

.ImageCardColumn:hover .ImageCard {
    -webkit-filter: sepia(50%);
    filter: sepia(50%);
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 1800px) {
    .ImageCardColumn {
        flex: 30%;
        max-width: 40%;
    }
    .ImageCardOverlay .CardOverlayText1 {
        font-size: 40px;
    }
    .ImageCardOverlay .CardOverlayText2 {
        font-size: 26px;
    }
    .ImageCardRow {
        margin-left: 0%;
        margin-right: 0%;
    }
    .ImageCardContainer h1 {
        margin-left: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .ImageCardColumn {
        flex: 50%;
        max-width: 50%;
    }
    .ImageCardOverlay .CardOverlayText1 {
        font-size: 200%;
    }
    .ImageCardOverlay .CardOverlayText2 {
        font-size: 160%;
    }
    .ImageCardContainer h1 {
        margin-left: 20%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .ImageCardColumn {
        flex: 100%;
        max-width: 120%;
        padding-left: 30px;
    }
    .ImageCardOverlay .CardOverlayText1 {
        font-size: 200%;
    }
    .ImageCardOverlay .CardOverlayText2 {
        font-size: 160%;
    }
    .ImageCardContainer h1 {
        margin-left: 15%;
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .ImageCardRow {
        margin-top: 160px;
    }
    .ImageCardColumn {
        margin-top: 40px;
    }
    .ImageCardColumn:hover .ImageCardOverlay {
        top: -80%;
    }
    .ImageCardOverlay .CardOverlayText1 {
        font-size: 140%;
    }
    .ImageCardOverlay .CardOverlayText2 {
        font-size: 100%;
    }
    .ImageCardColumn .ImageCardLinkOverlay {
        opacity: 0;
        top: -100%;
        -webkit-transition: opacity 1s;
        -webkit-transition: top 1s;
    }
    .ImageCardColumn:hover .ImageCardLinkOverlay {
        opacity: 1;
        top: -80%;
        -webkit-transition: opacity 1s;
        -webkit-transition: top 1s;
    }
    .ImageCardLinkOverlay h6 {
        font-size: 16px;
        margin-top: 14px;
    }
    .ImageCardContainer h1 {
        font-size: 22px;
        margin-left: 12%;
    }
}